.logout{
	float:right;
	margin:10px 0px;
	border-color: transparent;
	background-color: transparent;
	color: black;
	margin-top: auto;
	font-size: 20px;
}

.button1{
	border-color: transparent;
	background-color: transparent;
	color: black;
	margin-top: -7px;
	font-size: 20px;
}

.text-center{
	text-align: center;
}
.hide{
	display: none;
}


.modal {
	font-size: 12px;
}
.modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}
.modal > .content {
	width: 100%;
	padding: 10px 5px;
}
.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}
.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #5e0101;
}
#popup-content{
	position: relative;
    background: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    border: 1px solid rgb(187, 187, 187);
    padding: 5px;
}
@media only screen and (max-width: 415px) {
#popup-content{
	position: relative;
    background: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    border: 1px solid rgb(187, 187, 187);
    padding: 5px;
}
}